@import "mixins.scss";
@import "variables.scss";

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border-radius: 3px;
  border: 2px solid #2a592e;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $gray-text-color;
}

.small-input {
  width: 40px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #6cac72;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  color: $green-text-color;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background: #456f49;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
  &.button-transparent {
    background-color: transparent;
    border: 1px solid #6cac72;
    color: $green-text-color;
  }
  &.button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    span {
      margin-left: 16px;
    }
  }
  &.button-in-cart span {
    &:first-child {
      display: block;
    }
    &:last-child {
      display: none;
    }
  }
  &:hover {
    &.button-in-cart span {
      &:first-child {
        display: none;
      }
      &:last-child {
        display: block;
      }
    }
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-mdc-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}

.carousel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  .carousel-title {
    @include head-lora-32;
  }
  .carousel-arrows {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      cursor: pointer;
      &:first-child {
        margin-right: 30px;
      }
    }
  }
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 2px solid #2a592e;
  box-sizing: border-box;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 8px;
  height: 8px;
  background: #2a592e;
  position: absolute;
  top: 5px;
  left: 5px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


.order-form {
  max-width: 646px;
  .order-form-block {
    margin-bottom: 30px;
    .order-form-label {
      margin-bottom: 20px;
      color: $gray-text-color;
      font-family: "Montserrat", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
    }
    .order-form-types {
      display: flex;
      align-items: center;
      max-width: 340px;
      box-sizing: border-box;
      border: 1px solid #519057;
      border-radius: 3px;
      text-align: center;
      font-size: 18px;
      color: $gray-text-color;
      .order-form-type-item {
        cursor: pointer;
        padding: 13px 35px;
        background: transparent;
        &.active {
          color: white;
          background-color: #519157;
        }
      }
    }
    .order-form-inputs {
      display: grid;
      gap: 8px;
      input[type="text"] {
        height: 53px;
      }
      &.personal-data-inputs {
        grid-template-columns: repeat(3, 210px);
      }
      &.adress-inputs {
        grid-template-columns: repeat(2, 125px) 162px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
          "street street street"
          "house entrance apartment";
        .street {
          grid-area: street;
        }
        .house {
          grid-area: house;
        }
        .entrance {
          grid-area: entrance;
        }
        .apartment {
          grid-area: apartment;
        }
      }
    }
    .order-form-radio {
      .order-form-radio-block {
        margin-bottom: 12px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          color: $gray-text-color;
          font-size: 16px;
        }

        input:checked {
          + label {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 500;
          }
        }
      }
    }
  }
}
