html,
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.input {
  box-sizing: border-box;
  padding: 17px 20px;
  border-radius: 3px;
  border: 2px solid #2a592e;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: $gray-text-color;
}

.small-input {
  width: 40px;
  height: 28px;
  border-radius: 5px;
  border: 1px solid #6cac72;
  text-align: center;
  padding: 2px;
  box-sizing: border-box;
  color: $green-text-color;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.button {
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  background: #456f49;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
}

a.button {
  text-decoration: none;
  display: inline-block;
}

.mat-mdc-menu-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  a {
    text-decoration: none;
    color: $gray-text-color;
  }
}
